.quiz-content {
    padding-top: env(safe-area-inset-top) !important;
    padding-bottom: env(safe-area-inset-bottom) !important;
    padding-right: 16px !important;
    padding-left: 16px !important;
}

.quiz-modal .cancel, .quiz-modal .skip {
    font-size: 13px;
    color: #625A56;
    font-weight: 700;
}

.quiz-modal .explanation-text {
    font-size: 14px;
    color: #958D89;
    margin-top: 30px;
}

.quiz-modal .question-text {
    font-size: 23px;
    font-weight: 700;
    color: #484443;
    margin-top: 20px;
}

.quiz-modal .response-explanation-text {
    font-size: 14px;
    font-weight: 700;
    color: #484443;
    margin-top: 60px;
}

.quiz-modal .responses {
    padding-bottom: 90px; /* 90px is the height of the continue row */
}

.quiz-modal .response {
    width: 90vw;
    margin: 10px auto 0;
    color: #625A56;
    --background: #fff;
    --border-style: solid;
    --border-width: 1px;
    --border-color: #F2F1F0;
    --border-radius: 6px;
    --box-shadow: none;
    height: 64px;
    font-size: 14px;
}

.quiz-modal .response.selected {
    --border-color: #51ADEF;
}

.quiz-modal .continue-row {
    position: fixed;
    height: 90px;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 30px;
    background: #F9F6EF
}

.quiz-modal .continue-button {
    --border-radius: 100px;
    margin-left: -34px;
    margin-right: 0;
}

.quiz-modal .text-input {
    background: #fff;
    width: 90vw;
    margin: 10px auto 0;
    padding-top: 10px;
    color: #625A56;
    border-style: solid;
    border-width: 1px;
    border-color: #F2F1F0;
    border-radius: 6px;
    box-shadow: none;
    height: 104px;
    font-size: 14px;
    text-align: center;
}