.password-reset-content {
  display: flex;
  flex-direction: column;
  padding: 18px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #384f5f;
}

.password-reset-input {
  background: #fff;
  padding: 15px;
  border: 1px solid #cac6c4;
  border-radius: 4px;
  display: block;
  color: #7a716c;
  font-size: 14px;
  width: 100%;
  margin-top: 15px;
}

.error {
  color: crimson;
}

.login-link {
  margin-top: 15px;
  font-size: 12px;
}

.reset-button {
  margin-top: 15px;
}

.additional-success {
  font-size: 12px;
  opacity: 0.6;
  margin-top: 5px;
}
