.verify-email-content {
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.info-text {
  font-size: 12px;
  opacity: 0.6;
  margin-top: 5px;
}

.email-heading {
  margin-bottom: 50px;
}
