/* Hide YouTube embeds & their captions */
.wp-block-embed.is-provider-youtube {
    display: none;
}

.article-detail {
    padding: 0 16px;
    background-color: #F9F6EF;
}

.article-detail h1 {
    font-weight: 700;
}

.article-detail h2 {
    font-size: 22px;
}

.article-detail .header {
    padding: 25px 16px 0;
}