#root .header {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.header .back-link {
    margin-top: 20px;
}

.article-categories {
    padding: 25px 16px 0;
    width: 100%;
}

.article-category {
    background: #fff;
    padding: 20px 50px 20px 25px;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    border-radius: 6px;
}

.article-category h2 {
    color: #7A716C;
    font-size: 14px;
    display: inline
}

.article-category .arrow {
    color: #7A716C;
    position: absolute;
    right: 25px;
}

.article-category-listing .header {
    padding: 25px 16px 0;
}