.article-metadata p {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.2px;
    color: #958D89;
    margin: 0;
}

.article-image-wrapper {
    position: relative;
}

.article-image-wrapper .article-icon {
    color: #fff;
    font-size: 35px;
    position: absolute; /* Position the icon absolutely within the player-wrapper */
    bottom: 10px;
    right: 10px;
}