.goal {
    --background: #fff;
    --border-radius: 10px;
    margin: 15px 16px;
    --border-width: 0;
    --border-style: none;
}

.goal.hidden {
    display: none;
}

.goals .divider {
    height: 0;
    border-width: 1px;
    border-color: #E0E0E0;
    opacity: 20%;
    margin: 0 16px;
}

.icon {
    font-size: 24px;
}

.check {
    color: #7EC472;
    margin-right: 10px;
}

.x {
    color: #E65858;
}

.goal h3 {
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.2px;
    color: #484443;
    text-transform: lowercase;
}

.goal h3::first-letter {
    text-transform: uppercase;
}

.goal p {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.2px;
    color: #958D89;
}

.goals .child-age-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #958D89;
    word-wrap: break-word;
    padding: 10px 0;
}

.continue-button {
    width: 55vw;
    position: absolute;
    bottom: 10%;
    left: calc(50% - 27.5vw);
}

.goals .subcopy {
    padding-bottom: 0px;
}

.goals .concerns-promo .subcopy {
    padding-bottom: 20px;
}

.concerns-promo ion-button {
    font-size: 14px;
    --border-style: solid;
    --border-width: 1px;
    --border-color: #EDE7DA;
    --border-radius: 100px;
    --box-shadow: none;
    margin: 0 auto;
}

.concerns-indicator {
    position: fixed; /* Position it relative to the IonContent */
    bottom: 0; /* Align to the bottom */
    left: 0;
    right: 0;
    text-align: center; /* Center-align the text and icon */
    padding-bottom: 5px; /* Add some padding */
    width: 100%;
    background-color: #F9F6EF;
  }

.concerns-indicator .subcopy {
    display: block;
    width: 100%;
    margin-bottom: 0;
    font-size: 12px;
    color: #000;
}

.concerns-indicator .down-icon {
    font-size: 16px;
    display: block;
    width: 100%;
}