.container.age {
    padding: 0 16px;
}

.age .subcopy {
    padding-left: 0;
}

.input-shadow {
    display: block;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 7px 26px rgba(0, 0, 0, 0.08);
  }
  
  .age-input-area {
    --background: white;
    --border-radius: 10px;
    color: #877F7B;
    font-weight: 400;
    font-size: 13px;
    /* These 4 styles are to remove the underline on the input field when it's given focus */
    --border-color: rgba(0, 0, 0, 0.00);
    --ion-item-border-color: rgba(0, 0, 0, 0.00);
    --ion-border-color: rgba(0, 0, 0, 0.00);
    --ion-color-step-150: rgba(0, 0, 0, 0.00);
  }