.video-list.horizontal {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

/* Trending videos should display in a 2-column grid, not in a horizontal scroll */
.trending .video-list.horizontal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px; /* This creates space between the grid items */
}

.horizontal .video-item {
    position: relative;
    flex: 0 0 auto;
    width: 65vw; /* Limits the width of the video player to 65% of the viewport width */
    margin-right: 20px;
}

.full .video-item {
    width: 90vw;
    margin: 0 auto;
}

.trending .video-list.horizontal .video-item {
    width: 43vw;
}

.video-item p {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.2px;
    color: #958D89;
    margin: 0;
}

.video-item h3 {
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.2px;
    color: #484443;
    margin-top: 0;
}

.video-list .video-item img {
    border-radius: 10px;
}

.tag-share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }  

.share-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
}

.share p { 
    display: inline; 
    vertical-align: text-top;
    color: #000;
}
 
.video-thumb-play-container {
    position: relative;
}

.video-thumb-play-container .play-icon {
    color: #fff;
    font-size: 35px;
    position: absolute; /* Position the icon absolutely within the  */
    bottom: 10px;
    right: 10px;
}