.content {
    padding: 0 16px;
}

.video-list-row {
    width: 100%;
}

.home .divider {
    height: 0;
    border-width: 1px;
    border-color: #E0E0E0;
    opacity: 20%;
    margin: 0 16px;
}

.home h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #484443;
    width: 100%;
}

.home .subcopy {
    color: #CAC6C4;
    font-size: 23px;
    font-weight: 700;
    padding-top: 0;
}

.unread-indicator, .read-placeholder {
    width: 8px;
    height: 8px;
    border-radius: 50%; 
    margin-right: 10px;
}

.unread-indicator {
    background-color: #51adef;
}

.read-placeholder {
    opacity: 0; /* Make it invisible, but it still occupies space */
}

.no-messages-content ion-button {
    font-size: 14px;
    --border-style: solid;
    --border-width: 1px;
    --border-color: #EDE7DA;
    --border-radius: 100px;
    --box-shadow: none;
    margin: 0 auto;
}

.dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the space between the buttons */
}

.dashboard-item {
    position: relative; /* For badge absolute positioning */
}

.dashboard .full-width {
    width: 100%;
}

.dashboard .half-width {
    width: calc(50% - 5px); /* Adjust for gap */
}

.dashboard-button {
    height: 140px;
    width: 100%;
    text-align: left;
    position: relative;
    gap: 10px; /* Space between icon and text */
    background: #fff;
    color: var(--brown-800, #7A716C);
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.2px;
    padding: 20px 15px;
    border-radius: 6px;
}

.paths .dashboard-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.paths .dashboard-button .icon {
    flex-shrink: 0; /* Prevents the icon from shrinking */
}

.paths .dashboard-button .text-container {
    display: flex;
    flex-direction: column;
    gap: 4px; /* Space between title and badge */
}

.paths .dashboard-button .arrow-icon {
    position: absolute;
    right: 16px; /* Position the arrow to the right */
    font-size: 24px; /* Adjust arrow icon size */
}

.paths .progress-indicator {
    --background: #FF8652;
}

.dashboard .messages .unread-messages {
    position: absolute;
    top: 0;
    right: 0;
}

.library .dashboard-button, .messages .dashboard-button {
    text-align: center;
}

.library-icon {
    display: block;
    margin: 0 auto 10px;
}

.messages-content .content-wrapper {
    display: -ms-inline-grid;
    display: -moz-inline-grid;
    display: inline-grid;
    position: relative;
}

.progress-indicator span {
    font-size: 10px;
}