.welcome .tab-bar {
    display: none;
}

.welcome {
    --ion-background-color: #E5E5E5;
}

.logo {
    width: 160px;
    margin: 0 auto 30px;
}

.welcome-content {
    /* Vertically center the content in the modal */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Ballpark height percentage less the rough percent of the welcome-image height. Ideally would be perfectly vertically centered */
    height: 68%;
}

.welcome-text {
    font-family: Judson;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    margin: 0 auto;
    max-width: 275px;
    text-align: center;
    margin-bottom: 40px;
    color: #4C616F;
}

.welcome .continue-button {
    width: 200px;
    --border-radius: 100px;
}

/* Position the welcome image at the bottom of the modal */
.welcome-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: auto;
  z-index: 1;
}