.search-bar, .search-directions, .age-group-buttons, .search-results {
    padding-left: 16px;
    padding-right: 16px;
}

.selected {
    --background: #f00;
}

.age-group-buttons {
    margin: 0 auto;
    text-align: center;
}

.age-group-button {
    --padding-start: 20px;
    --padding-end: 20px;
}

.search-results .article-item {
    width: 91.5vw;
}

.search-results .article-image-wrapper {
    margin-bottom: 5px;
}

.search-results h3 {
    margin-bottom: 20px;
}