.article-detail-modal {
    padding: 0 16px;
    background-color: #F9F6EF;
    max-width: 100%;
}

.article-detail-modal .wp-element-caption {
    display: none; /* hide the caption for YouTube embeds */
}