ion-progress-bar {
    z-index: 1;
    --background: #D9D9D9;
    --progress-background: #7EC472;
}

.progress-container {
    position: relative;
    padding: 20px 28px;
}

.progress-step {
    position: absolute;
    width: 24px; /* adjust as needed */
    height: 24px; /* adjust as needed */
    color: #fff;
    background-color: #7EC472;
    border-radius: 50%;
    text-align: center;
    line-height: 24px; /* should be the same as height */
    font-size: 12px; /* adjust as needed */
    top: 10px;
    transform: translateX(-50%); /* center circle horizontally on its position */
    z-index: 1;
}
  
.progress-step.incomplete {
    background-color: #D9D9D9;
}